<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nz.test.mapper.TaskMapper">
    <!-- <resultMap>标签用于封装sql的查询结果，可以包装成一个简单POJO对象，也可以包装成我们自定义的对象，只要我们使用<result>子标签指定好查询结果的列和对象的属性之间的对应关系就好了。 -->
    <resultMap id="singleTaskInfo" type="com.nz.test.domain.Task" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="base_column_list" >
        id, name
    </sql>

    <!-- 解决办法：将resultType改成resultMap即可,Type对应的是对象类,所以抛出ClassNotFoundException的异常 -->
    <select id="getById" parameterType="java.lang.Integer" resultMap="singleTaskInfo">
        select
        <include refid="base_column_list" />
        from tb_task
        where id = #{id}
    </select>

</mapper>