<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nz.test.mapper.TaskMapper">
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"
           eviction="LRU"
           flushInterval="5000"
           size="1"
           readOnly="true"
           blocking="true">
    </cache>

    <!--
    resultType,resultMap不能同时使用
    -->

    <!--
    resultMap:
    1.当sql的列名和实体类的属性名不一致时
        property是实体类的字段名;
        column是sql查询的列名;
    -->
    <!--
    <resultMap id="" type="">
        <result property="" column=""></result>
    </resultMap>
    -->

    <!--
    resultType:
    1.Java的基本类型及其包装类: 如果只是返回一个值,比如String或者int,那么直接用resultType;
    2.对象类型,自己定义的实体类:
        如果sql查询结果返回的列名和实体类中的字段名一致,那么使用resultType,MyBatis自动把查询结果赋值给和字段名一致的字段;
        如果sql查询结果返回的列名和实体类中的字段名不一致,那么sql语句可使用别名的方式使其一致 或 使用 resultMap;
    3.Map类型
        单条记录: resultType = Map
        多条记录：resultType = Map中value的类型
    4.List类型,集合的类型可以为1,2,3中提到的类型
    -->

    <!-- 返回值为基本类型: resultType为 基本类型 或 基本类型对应的包装类 -->
    <select id="getCount" resultType="int">
        select count(*) from tb_task
    </select>

    <!-- 返回值为实体类, 实体类和数据库字段一致,resultType为 对象的全类名 或 包名 + 对象的全类名 -->
    <select id="getById" resultType="TaskEntity">
        select * from tb_task where id = #{id}
    </select>

    <!-- 返回值为List类型, resultType为 List中对象的类型, 返回的类型是List<T> -->
    <select id="getByRp" resultType="com.nz.test.entity.TaskEntity">
        select * from tb_task limit #{page},#{size}
    </select>

    <!-- 返回单条记录的Map时, resultType为 Map; -->
    <select id="getCruxInfo" resultType="map">
        select id,name,type,status from tb_task where id = #{id}
    </select>

    <!-- 返回多条记录的Map时, resultType为 Map, 返回的类型是List<Map<String, Object>> -->
    <select id="getAll" resultType="map">
        select id,name,type,status from tb_task
    </select>

</mapper>